.ft-container {
  background: url("../../../assets/bg_footer.jpg");
  background-size: 235% 100%;
  background-position: center;
  width: 100%;
}

.ft-wrapper {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  display: flex;
  min-height: 25vh;
  width: 100%;
  max-width: 768px;
}

.ft-img {
  overflow: hidden;
  width: 100%;
  flex: 2;
}

.ft-container p {
  flex: 1;
  position: absolute;
  width: 50%;
  right: 1.5rem;
  top: 10%;
  right: 2.5%;
  font-size: 0.9rem;
}

.ft-container img {
  width: 23rem;
  margin-left: -2.5rem;
  margin-bottom: -6.25rem;
  clip-path: inset(0px 0px 6rem 2.5rem);
}

@media only screen and (max-width: 360px) {
  .ft-container img {
    width: 20rem;
    margin-top: 2rem;
  }

  .ft-container p {
    font-size: 0.85rem;
  }
}

@media only screen and (min-width: 768px) {
  .ft-container img {
    width: 25rem;
    margin-left: 0rem;
    margin-bottom: -6.25rem;
    clip-path: inset(0px 0px 6rem 0);
  }

  .ft-container p {
    font-size: 1.25rem;
    right: 10%;
    top: 20%;
  }

  .ft-container {
    background-size: initial;
  }
}
